# Ignorar arquivos e diretórios do VS Code
.vscode/
*.code-workspace

# Ignorar arquivos de compilação do C
*.o
*.out
*.a
*.so
*.exe
*.obj
*.dll
*.dSYM/

# Ignorar arquivos temporários e de backup
*.tmp
*.bak
*.swp
*.swo

# Ignorar arquivos de compilação específicos do Makefile
Makefile
Makefile.bak

# Ignorar arquivos gerados pelo compilador
*.log
*.pid

# Ignorar diretórios específicos
bin/
build/
Debug/
Release/

# Ignorar arquivos específicos do sistema operacional
.DS_Store
Thumbs.db